[[redirects]]
  from = "/api/*"
  to = "https://employers-backend-528727363440.us-central1.run.app/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
